@font-face {
    font-family: 'Geomanist';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/Geomanist-Regular.otf') format('truetype');
}

@font-face {
    font-family: 'Geomanist-Bold';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/Geomanist-Bold.otf') format('truetype');
}

@font-face {
    font-family: 'Geomanist-Light';
    font-style: normal;
    src: url('../fonts/Geomanist-Light.otf') format('truetype');
}

@font-face {
    font-family: 'Geomanist-Medium';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/Geomanist-Medium.otf') format('truetype');
}
